<main class="splash-page-container">
  <% name = current_user.present? ? current_user.name : '👋' %>
  <h1 class="splash-header">Welcome <%= name %></h1>
  <h2 class="app-name">Transactions App</h2>
  <div>
    <%= button_to 'LOG IN', new_user_session_path, method: :get, class: 'devise-btn' %>
    <%= button_to 'SIGN UP', new_user_registration_path, method: :get, class: 'devise-btn' %>
  </div>
</main>
