<main class="splash-page-container">
  <h1 class="splash-header">Welcome 👋</h1>
  <h2 class="app-name">Transactions App</h2>
  <div>
    <%= button_to 'LOG IN', new_user_session_path, method: :get, class: 'devise-btn log-in-btn' %>
    <%= button_to 'SIGN UP', new_user_registration_path, method: :get, class: 'devise-btn' %>
  </div>
</main>
